






      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <mat-sidenav-container class="sidenav-container">
          <mat-sidenav #drawer class="sidenav" >
            <mat-toolbar>Menu</mat-toolbar>
            <mat-nav-list>
              <a mat-list-item routerLink="/dash">Dashboard</a>
              <a mat-list-item routerLink="/table">tableau</a>
              <a mat-list-item routerLink="/gpark">parking</a>
              <a mat-list-item routerLink="/ad">add admin</a>
              <a mat-list-item routerLink="/mp">add place</a>
              
            </mat-nav-list>
          </mat-sidenav>
          <mat-sidenav-content>
            <mat-toolbar >
              <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
              >
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
              </button>
              
            </mat-toolbar>
      
        
          
            
          
            <div class="container">
              <h3 class=" text-center"></h3>
              <div class="messaging">
                    <div class="inbox_msg">
                      <div class="inbox_people">
                        <div class="headind_srch">
                          <div class="recent_heading">
                            <h4>ADD PARK</h4>
                          </div>
                        
                        </div>
                        <div class="inbox_chat">
                          <div  >
                            <form #parkForm="ngForm">

                                <div class="form-group">
                                  <label for="exampleInputEmail1" style="margin-left: 45%;">location</label>
                                  <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="markers.name"
                                    name="name">
                
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputPassword1" style="margin-left: 45%;" >latitude</label>
                                  <input type="text" class="form-control" [(ngModel)]="markers.latitude" name="latitude">
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputPassword1" style="margin-left: 45%;">longitude</label>
                                  <input type="text" class="form-control" [(ngModel)]="markers.longitude" name="longitude">
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputPassword1" style="margin-left: 45%;">price</label>
                                  <input type="text" class="form-control" [(ngModel)]="markers.price" name="price">
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputPassword1" style="margin-left: 45%;">NB place</label>
                                  <input type="text" class="form-control" [(ngModel)]="markers.nbplace" name="nbplace">
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputPassword1" style="margin-left: 45%;">cap</label>
                                  <input type="text" class="form-control" [(ngModel)]="t" name="capteur">
                                </div>
                        
                                <div class="form-group" >
                                  <label style="margin-left: 45%;">id</label>
                                  <input   class="form-control" [(ngModel)]="markers._id" name="_id"  >
                
                                </div>
                
                                <div style="margin-left: 110px;">
                                <button class="btn btn-custom right"  type="button" (click)="resetForm(parkForm)">Reset</button>
                
                                <button class="btn btn-custom right" type="button" (click)="saveParking()">add</button>
                
                                <button class="btn btn-custom right" type="submit" (click)="onSubmit(parkForm)">Submit</button>
                                </div>
                              </form>
                          </div>
            
                          
                          
                        </div>
                      </div>
                      <div class="mesgs" style="background-color: #D8D8D8;" >
                        <div class="msg_history">
                         
                          
                              <div  >
                                <table class="table">
                                    <thead>
                                      <tr>
                              
                                        <th scope="col">name</th>
                                        <th scope="col">longitude</th>
                                        <th scope="col">latitude</th>
                                        <th scope="col">price</th>
                                        <th scope="col">place max</th>
                              
                              
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let m of marker ">
                                        <td>{{m.name}}</td>
                                        <td>{{m.longitude}}</td>
                                        <td>{{m.latitude}}</td>
                                        <td>{{m.price}}</td>
                                        <td>{{m.nbplace}}</td>
                                        <td>
                                          <a class="action-btn" (click)="onEdit(m)">
                                            <i class="material-icons">edit</i>
                                          </a>
                                          <a class="action-btn" (click)="onDeletee(m._id)">
                                            <i class="material-icons">delete</i>
                                          </a>
                                        </td>
                              
                                      </tr>
                              
                                    </tbody>
                                  </table>
                              </div>
                                
                          
                        </div>
                      </div>
                    </div>
                    
                    
                  </div></div>
      
          <!------ Include the above in your HEAD tag ---------->
          
          
       
        
          </mat-sidenav-content>
        </mat-sidenav-container>
        
        
      
      
      