<body class="">
	<div id="vevWrapper">
		<div class="header-top-area">
	<div class="owl-carousel intro-slider owl-loaded">
		

		

		
	<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2694px, 0px, 0px); transition: all 0.25s ease 0s; width: 9429px;"><div class="owl-item cloned" style="width: 1347px;"><div class="item bg-image" style="background-image: url(&quot;http://trials.vevs.website/web-demo/car-parking-website/app/web/upload/medium/img-dummy-background-7-429-1587548387.jpg&quot;);">
			<div class="header-content-inner">
				<div class="welcome-text">
					<div class="cms-e-section">
						<div data-blockid="4"><h2 class="cms-e-element h1 text-uppercase"><span class="wc-editable wc-element" data-model="pjBlockElement" data-field="text" data-type="text" data-foreign_id="4">Read our blog</span></h2></div>							<div data-blockid="5"><div class="cms-e-element"><span class="wc-editable wc-element" data-model="pjBlockElement" data-field="text" data-type="textarea" data-foreign_id="5">Stay up to date and learn about our products.</span></div></div>
						<div data-blockid="64"><img class="wc-image cms-e-element hidden bg-image-src" src="http://trials.vevs.website/web-demo/car-parking-website/app/web/upload/medium/img-dummy-background-7-429-1587548387.jpg" alt="" title="" data-id="429"></div>						</div>
				</div>
			</div>
		</div></div><div class="owl-item cloned" style="width: 1347px;"><div class="item bg-image" style="background-image: url(&quot;http://trials.vevs.website/web-demo/car-parking-website/app/web/upload/medium/img-dummy-background-14-428-1587548387.jpg&quot;);">
			<div class="header-content-inner">
				<div class="welcome-text">
					<div class="cms-e-section">
						<div data-blockid="6"><h2 class="cms-e-element h1 text-uppercase"><span class="wc-editable wc-element" data-model="pjBlockElement" data-field="text" data-type="text" data-foreign_id="6">Contact us</span></h2></div>							<div data-blockid="7"><div class="cms-e-element"><span class="wc-editable wc-element" data-model="pjBlockElement" data-field="text" data-type="textarea" data-foreign_id="7">We work 24/7 for you!</span></div></div>
						<div data-blockid="65"><img class="wc-image cms-e-element hidden bg-image-src" src="http://trials.vevs.website/web-demo/car-parking-website/app/web/upload/medium/img-dummy-background-14-428-1587548387.jpg" alt="" title="" data-id="428"></div>						</div>
				</div>
			</div>
		</div></div><div class="owl-item active" style="width: 1347px;"><div class="item bg-image" style="background-image: url(&quot;http://trials.vevs.website/web-demo/car-parking-website/app/web/upload/medium/3-430-1587548387.jpg&quot;);">
			<div class="header-content-inner">
				<div class="welcome-text">
					<div class="cms-e-section">
						<div data-blockid="2"><h1 class="cms-e-element h1"><span class="wc-editable wc-element" data-model="pjBlockElement" data-field="text" data-type="text" data-foreign_id="2">Book your parking space</span></h1></div>							<div data-blockid="3"><div class="cms-e-element lead"><span class="wc-editable wc-element" data-model="pjBlockElement" data-field="text" data-type="textarea" data-foreign_id="3">Choose location, date, time and a parking spot!</span></div></div>
						<div data-blockid="63"><img class="wc-image cms-e-element hidden bg-image-src" src="http://trials.vevs.website/web-demo/car-parking-website/app/web/upload/medium/3-430-1587548387.jpg" alt="" title="" data-id="430"></div>						</div>
				</div>
			</div>
		</div></div><div class="owl-item" style="width: 1347px;"><div class="item bg-image" style="background-image: url(&quot;http://trials.vevs.website/web-demo/car-parking-website/app/web/upload/medium/img-dummy-background-7-429-1587548387.jpg&quot;);">
			<div class="header-content-inner">
				<div class="welcome-text">
					<div class="cms-e-section">
						<div data-blockid="4"><h2 class="cms-e-element h1 text-uppercase"><span class="wc-editable wc-element" data-model="pjBlockElement" data-field="text" data-type="text" data-foreign_id="4">Read our blog</span></h2></div>							<div data-blockid="5"><div class="cms-e-element"><span class="wc-editable wc-element" data-model="pjBlockElement" data-field="text" data-type="textarea" data-foreign_id="5">Stay up to date and learn about our products.</span></div></div>
						<div data-blockid="64"><img class="wc-image cms-e-element hidden bg-image-src" src="http://trials.vevs.website/web-demo/car-parking-website/app/web/upload/medium/img-dummy-background-7-429-1587548387.jpg" alt="" title="" data-id="429"></div>						</div>
				</div>
			</div>
		</div></div><div class="owl-item" style="width: 1347px;"><div class="item bg-image" style="background-image: url(&quot;http://trials.vevs.website/web-demo/car-parking-website/app/web/upload/medium/img-dummy-background-14-428-1587548387.jpg&quot;);">
			<div class="header-content-inner">
				<div class="welcome-text">
					<div class="cms-e-section">
						<div data-blockid="6"><h2 class="cms-e-element h1 text-uppercase"><span class="wc-editable wc-element" data-model="pjBlockElement" data-field="text" data-type="text" data-foreign_id="6">Contact us</span></h2></div>							<div data-blockid="7"><div class="cms-e-element"><span class="wc-editable wc-element" data-model="pjBlockElement" data-field="text" data-type="textarea" data-foreign_id="7">We work 24/7 for you!</span></div></div>
						<div data-blockid="65"><img class="wc-image cms-e-element hidden bg-image-src" src="http://trials.vevs.website/web-demo/car-parking-website/app/web/upload/medium/img-dummy-background-14-428-1587548387.jpg" alt="" title="" data-id="428"></div>						</div>
				</div>
			</div>
		</div></div><div class="owl-item cloned" style="width: 1347px;"><div class="item bg-image" style="background-image: url(&quot;http://trials.vevs.website/web-demo/car-parking-website/app/web/upload/medium/3-430-1587548387.jpg&quot;);">
			<div class="header-content-inner">
				<div class="welcome-text">
					<div class="cms-e-section">
						<div data-blockid="2"><h1 class="cms-e-element h1"><span class="wc-editable wc-element" data-model="pjBlockElement" data-field="text" data-type="text" data-foreign_id="2">Book your parking space</span></h1></div>							<div data-blockid="3"><div class="cms-e-element lead"><span class="wc-editable wc-element" data-model="pjBlockElement" data-field="text" data-type="textarea" data-foreign_id="3">Choose location, date, time and a parking spot!</span></div></div>
						<div data-blockid="63"><img class="wc-image cms-e-element hidden bg-image-src" src="http://trials.vevs.website/web-demo/car-parking-website/app/web/upload/medium/3-430-1587548387.jpg" alt="" title="" data-id="430"></div>						</div>
				</div>
			</div>
		</div></div><div class="owl-item cloned" style="width: 1347px;"><div class="item bg-image" style="background-image: url(&quot;http://trials.vevs.website/web-demo/car-parking-website/app/web/upload/medium/img-dummy-background-7-429-1587548387.jpg&quot;);">
			<div class="header-content-inner">
				<div class="welcome-text">
					<div class="cms-e-section">
						<div data-blockid="4"><h2 class="cms-e-element h1 text-uppercase"><span class="wc-editable wc-element" data-model="pjBlockElement" data-field="text" data-type="text" data-foreign_id="4">Read our blog</span></h2></div>							<div data-blockid="5"><div class="cms-e-element"><span class="wc-editable wc-element" data-model="pjBlockElement" data-field="text" data-type="textarea" data-foreign_id="5">Stay up to date and learn about our products.</span></div></div>
						<div data-blockid="64"><img class="wc-image cms-e-element hidden bg-image-src" src="http://trials.vevs.website/web-demo/car-parking-website/app/web/upload/medium/img-dummy-background-7-429-1587548387.jpg" alt="" title="" data-id="429"></div>						</div>
				</div>
			</div>
		</div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
	
	<div class="property-search-area home-property-search">
		<div class="cms-e-section">
			<div id="pjCpContainer">

</div>			</div>
	</div>
</div>
<div class="main-wrapper">
<!--b:0-->

<!--b:1802113d2126dfe7ef60fa98cc32685e-->
<div class="section section-featured cms-e-section-outer" data-id="154" data-hmac="1802113d2126dfe7ef60fa98cc32685e" data-type="plugin" data-pid="13">
	<!--section-begin:1802113d2126dfe7ef60fa98cc32685e-->

	<!--group-begin:72b276f2fd61ecc5171cfcf4ecd3606a-->

	<!--group-end:72b276f2fd61ecc5171cfcf4ecd3606a-->
	
	<!--group-begin:1befeb146a26467de113043f632784dd-->
	<div class="cms-e-group" data-id="218" data-hmac="1befeb146a26467de113043f632784dd">
		<div class="container-fluid">
			<div class="row row-flex">
								<div class="col-lg-3 col-sm-6 col-xs-12">
					<div class="single-property cms-e-section">
						<div class="property-thumb">
							<div data-recordid="39-field_93"><div class="wc-thumb btn-gallery-replace "><img class="wc-image cms-e-element img-responsive" src="http://trials.vevs.website/web-demo/car-parking-website/app/web/upload/medium/57e3dc424354ac14ea898c7bc32e307d1222dfe055527241752f7fd0-1280-58-1587548387.jpg" alt="" title="" data-id="58"></div></div>							</div>

						<div class="property-content">
							<div class="property-header">
								<div data-recordid="39-field_91"><h3 class="cms-e-element h3 property-title"><span class="wc-editable wc-element" data-model="pjContentRecord" data-field="field_91" data-type="text" data-foreign_id="39">Online bookings</span></h3></div>								</div>

							<div class="property-footer">
								<div class="price-holder">
									from										<span class="price">$ 15.00</span>
									per day									</div>
								
								<div data-recordid="39-field_92"><div class="cms-e-element" style="color: #666666"><span class="wc-editable wc-element" data-model="pjContentRecord" data-field="field_92" data-type="textarea" data-foreign_id="39">Suspendisse urna arcu, vehicula eu vehicula et, cursus nec lorem. Nullam lectus felis, euismod nec mollis vitae, accumsan vel ligula. Praesent rhoncus ultrices gravida. In sed sapien in purus ultricies ultrices in quis nisi.</span></div></div>									
																		<div class="offer-actions">
										<a href="reservations.html" class="btn btn-primary" target="_self">Book Now</a>
									</div>
																	</div>
						</div>
					</div>
				</div>
									<div class="col-lg-3 col-sm-6 col-xs-12">
					<div class="single-property cms-e-section">
						<div class="property-thumb">
							<div data-recordid="40-field_93"><div class="wc-thumb btn-gallery-replace "><img class="wc-image cms-e-element img-responsive" src="http://trials.vevs.website/web-demo/car-parking-website/app/web/upload/medium/57e2d2424353a414ea898c7bc32e307d1222dfe055527241752f7ad6-1280-59-1587548387.jpg" alt="" title="" data-id="59"></div></div>							</div>

						<div class="property-content">
							<div class="property-header">
								<div data-recordid="40-field_91"><h3 class="cms-e-element h3 property-title"><span class="wc-editable wc-element" data-model="pjContentRecord" data-field="field_91" data-type="text" data-foreign_id="40">Short-term</span></h3></div>								</div>

							<div class="property-footer">
								<div class="price-holder">
									from										<span class="price">$ 19.00</span>
									per weekend									</div>
								
								<div data-recordid="40-field_92"><div class="cms-e-element" style="color: #666666"><span class="wc-editable wc-element" data-model="pjContentRecord" data-field="field_92" data-type="textarea" data-foreign_id="40">Donec rhoncus maximus magna, eu tincidunt lectus iaculis at. Maecenas eros nunc, consectetur quis velit ut, vestibulum cursus arcu. Morbi pharetra quam eros, in mattis libero consequat a. Donec hendrerit pharetra est.</span></div></div>									
																		<div class="offer-actions">
										<a href="reservations.html" class="btn btn-primary" target="_self">Book Now</a>
									</div>
																	</div>
						</div>
					</div>
				</div>
									<div class="col-lg-3 col-sm-6 col-xs-12">
					<div class="single-property cms-e-section">
						<div class="property-thumb">
							<div data-recordid="41-field_93"><div class="wc-thumb btn-gallery-replace "><img class="wc-image cms-e-element img-responsive" src="http://trials.vevs.website/web-demo/car-parking-website/app/web/upload/medium/54e6d5444d54b114a6d08279c12f3479083edbe35052794975297f-1280-60-1587548387.jpg" alt="" title="" data-id="60"></div></div>							</div>

						<div class="property-content">
							<div class="property-header">
								<div data-recordid="41-field_91"><h3 class="cms-e-element h3 property-title"><span class="wc-editable wc-element" data-model="pjContentRecord" data-field="field_91" data-type="text" data-foreign_id="41">Etiam suscipit felis</span></h3></div>								</div>

							<div class="property-footer">
								<div class="price-holder">
									from										<span class="price">$ 9.00</span>
									summer only									</div>
								
								<div data-recordid="41-field_92"><div class="cms-e-element" style="color: #666666"><span class="wc-editable wc-element" data-model="pjContentRecord" data-field="field_92" data-type="textarea" data-foreign_id="41">Nullam eget auctor purus. Sed facilisis, sapien sed posuere pharetra, nisl velit dictum odio, ac pulvinar sapien leo a augue. Sed vitae euismod enim. Aliquam malesuada sem mi, a gravida neque dignissim sed.</span></div></div>									
																		<div class="offer-actions">
										<a href="reservations.html" class="btn btn-primary" target="_self">Book Now</a>
									</div>
																	</div>
						</div>
					</div>
				</div>
								</div>

						</div>
	</div>
	<!--group-end:1befeb146a26467de113043f632784dd-->
	
	<!--section-end:1802113d2126dfe7ef60fa98cc32685e-->
</div>
<!--e:1802113d2126dfe7ef60fa98cc32685e-->

<!--b:d1c333c306e9f2d647e190718929f139-->
<!--e:d1c333c306e9f2d647e190718929f139-->

<!--b:e821a174cbb908e68be817139de55cd3-->
<div class="section cms-e-section-outer" data-id="156" data-hmac="e821a174cbb908e68be817139de55cd3">
	<!--section-begin:e821a174cbb908e68be817139de55cd3-->

	<!--group-begin:a1c68926ee0ccc1ae9a559540181cdbb-->
	<div class="cms-e-group" data-id="220" data-hmac="a1c68926ee0ccc1ae9a559540181cdbb">
		<div class="container-fluid">
			<div class="cms-e-section">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
						<div class="section-heading text-center">
							<div data-blockid="70"><h2 class="cms-e-element h2 text-center" style="color: #ffffff"><span class="wc-editable wc-element" data-model="pjBlockElement" data-field="text" data-type="text" data-foreign_id="70">About our company</span></h2></div>							</div>

						<div class="about-content text-center">
							<div data-blockid="71"><div class="cms-e-element text-center lead" style="color: #ffffff"><span class="wc-editable wc-element" data-model="pjBlockElement" data-field="text" data-type="textarea" data-foreign_id="71">Replace this text with your company description. Write about your products and services.  Deserunt, dolor eaque odit reprehenderit ducimus nostrum similique consequatur nesciunt ut officia aut eius quia, doloremque itaque a quisquam harum iusto tenetur. Quidem at rerum debitis, reprehenderit repudiandae dolores magnam!  Explicabo eos nisi, deleniti cum veritatis dolorem inventore temporibus, quisquam est architecto qui. Odio beatae fugiat ullam incidunt. Labore distinctio dolor corporis?</span></div></div>							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--group-end:a1c68926ee0ccc1ae9a559540181cdbb-->
	
	<!--section-end:e821a174cbb908e68be817139de55cd3-->
</div>
<!--e:e821a174cbb908e68be817139de55cd3-->

<!--b:b585ccc88b9e19272903849f73dbeb62-->
<!--e:b585ccc88b9e19272903849f73dbeb62-->

<!--b:f9d7fe4ba1440623fcee473094485c90-->
<div class="section blog-section cms-e-section-outer" data-id="158" data-hmac="f9d7fe4ba1440623fcee473094485c90" data-type="plugin" data-pid="22">
	<!--section-begin:f9d7fe4ba1440623fcee473094485c90-->

	<!--group-begin:3584a4a783726161cdd6cf60f7bc63e7-->
	<div class="cms-e-group" data-id="222" data-hmac="3584a4a783726161cdd6cf60f7bc63e7">
		<div class="container">
			<div class="section-heading text-center">
				<div class="cms-e-section">
					<div data-blockid="75"><h2 class="cms-e-element h2 text-center text-capitalize" style="color: #3b3e44"><span class="wc-editable wc-element" data-model="pjBlockElement" data-field="text" data-type="text" data-foreign_id="75">Services</span></h2></div>					</div>
			</div>
		</div>
	</div>
	<!--group-end:3584a4a783726161cdd6cf60f7bc63e7-->
	
	<!--group-begin:40d2846fda54cd03ae511a984524471a-->
	<div class="cms-e-group" data-id="223" data-hmac="40d2846fda54cd03ae511a984524471a">
		<div class="container-fluid">
			<div class="row row-flex">
								<div class="col-lg-3 col-sm-6 col-xs-12">
					<article class="post career cms-e-section">
						<div class="post-details">
							<div class="services-item-icon">
								<div data-recordid="66-field_144"><div class=""><img src="address-book-alt-1-1.svg" data-key="attr-66-field_144-key" class="wc-vector cms-e-element"></div></div>								</div>

							<div data-recordid="66-field_146"><h3 class="cms-e-element h4 entry-title text-uppercase" style="color: #000000"><span class="wc-editable wc-element" data-model="pjContentRecord" data-field="field_146" data-type="text" data-foreign_id="66">Sample service</span></h3></div>
							<div data-recordid="66-field_143"><div class="cms-e-element entry-content"><span class="wc-editable wc-element" data-model="pjContentRecord" data-field="field_143" data-type="textarea" data-foreign_id="66">Enter service description here. Delete this text and type your own. Quisque nec lectus maximus, convallis ante a, varius nunc. Pellentesque lacinia nulla est, eget vestibulum odio mattis at.</span></div></div>							</div>
					</article>
				</div>
									<div class="col-lg-3 col-sm-6 col-xs-12">
					<article class="post career cms-e-section">
						<div class="post-details">
							<div class="services-item-icon">
								<div data-recordid="67-field_144"><div class=""><img src="lightbulb-alt-1-1.svg" data-key="attr-67-field_144-key" class="wc-vector cms-e-element"></div></div>								</div>

							<div data-recordid="67-field_146"><h3 class="cms-e-element h4 entry-title text-uppercase" style="color: #000000"><span class="wc-editable wc-element" data-model="pjContentRecord" data-field="field_146" data-type="text" data-foreign_id="67">Another Service</span></h3></div>
							<div data-recordid="67-field_143"><div class="cms-e-element entry-content"><span class="wc-editable wc-element" data-model="pjContentRecord" data-field="field_143" data-type="textarea" data-foreign_id="67">Service description goes here. Edit this dummy text. Nam consectetur odio sed nulla ullamcorper mattis. Mauris dictum vehicula erat, eu convallis turpis consectetur et. Duis non lobortis felis.</span></div></div>							</div>
					</article>
				</div>
									<div class="col-lg-3 col-sm-6 col-xs-12">
					<article class="post career cms-e-section">
						<div class="post-details">
							<div class="services-item-icon">
								<div data-recordid="68-field_144"><div class=""><img src="mastercard-1-1.svg" data-key="attr-68-field_144-key" class="wc-vector cms-e-element"></div></div>								</div>

							<div data-recordid="68-field_146"><h3 class="cms-e-element h4 entry-title text-uppercase" style="color: #000000"><span class="wc-editable wc-element" data-model="pjContentRecord" data-field="field_146" data-type="text" data-foreign_id="68">Service or product</span></h3></div>
							<div data-recordid="68-field_143"><div class="cms-e-element entry-content"><span class="wc-editable wc-element" data-model="pjContentRecord" data-field="field_143" data-type="textarea" data-foreign_id="68">Change this dummy text and add information about your service. Cras porttitor et elit quis hendrerit. Mauris vitae pharetra quam. Sed a pharetra odio, sit amet feugiat lorem.</span></div></div>							</div>
					</article>
				</div>
									<div class="col-lg-3 col-sm-6 col-xs-12">
					<article class="post career cms-e-section">
						<div class="post-details">
							<div class="services-item-icon">
								<div data-recordid="69-field_144"><div class=""><img src="database-1-1.svg" data-key="attr-69-field_144-key" class="wc-vector cms-e-element"></div></div>								</div>

							<div data-recordid="69-field_146"><h3 class="cms-e-element h4 entry-title text-uppercase" style="color: #000000"><span class="wc-editable wc-element" data-model="pjContentRecord" data-field="field_146" data-type="text" data-foreign_id="69">Example Service</span></h3></div>
							<div data-recordid="69-field_143"><div class="cms-e-element entry-content"><span class="wc-editable wc-element" data-model="pjContentRecord" data-field="field_143" data-type="textarea" data-foreign_id="69">Edit service description here. Duis malesuada faucibus dui, quis tempor lacus molestie sit amet. Duis quis tincidunt ligula. Aliquam ac elit a ante suscipit eleifend non vel augue. Nullam in purus convallis.</span></div></div>							</div>
					</article>
				</div>
								</div>
		</div>
	</div>
	<!--group-end:40d2846fda54cd03ae511a984524471a-->
	
	<!--section-end:f9d7fe4ba1440623fcee473094485c90-->
</div>
<!--e:f9d7fe4ba1440623fcee473094485c90-->

<!--b:f77e1be99f730c7b842fb7cabf88be75-->
<!--e:f77e1be99f730c7b842fb7cabf88be75-->

<!--b:f4c531fd416280e0c0dfd8d86b64f8fc-->
<!--e:f4c531fd416280e0c0dfd8d86b64f8fc-->

<!--b:d3d3230cf7cacbf2662d439dc4e79846-->
<!--e:d3d3230cf7cacbf2662d439dc4e79846-->

<!--b:350919fce523c4a78b072304e0a886f9-->
<div class="section about-section cms-e-section-outer" data-id="162" data-hmac="350919fce523c4a78b072304e0a886f9" data-type="plugin" data-pid="21">
	<!--section-begin:350919fce523c4a78b072304e0a886f9-->

	<!--group-begin:a8c007144cd8cc823a4d520f6341c211-->
	<div class="cms-e-group" data-id="228" data-hmac="a8c007144cd8cc823a4d520f6341c211">
		<div class="container">
			<div class="section-heading text-center">
				<div class="cms-e-section">
					<div data-blockid="82"><h2 class="cms-e-element h2 text-center text-uppercase" style="color: #3d3d3d"><span class="wc-editable wc-element" data-model="pjBlockElement" data-field="text" data-type="text" data-foreign_id="82">FAQ</span></h2></div>					</div>
			</div>
		</div>
	</div>
	<!--group-end:a8c007144cd8cc823a4d520f6341c211-->
	
	<!--group-begin:ce6789e37656b2a5bdca0675b2275d85-->
	<div class="cms-e-group" data-id="229" data-hmac="ce6789e37656b2a5bdca0675b2275d85">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
					<div id="faq-nav" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner text-center" role="listbox">
							
							<div class="item active">
								<div class=" cms-e-section">
									<div class="service-content">
										<div class="section-heading text-center">
											<div data-recordid="60-field_140"><h2 class="cms-e-element h3" style="color: #222222"><span class="wc-editable wc-element" data-model="pjContentRecord" data-field="field_140" data-type="text" data-foreign_id="60">Sample question about your company?</span></h2></div>											</div>

										<div data-recordid="60-field_141"><div class="cms-e-element lead about-content" style="color: #696969"><span class="wc-editable wc-element" data-model="pjContentRecord" data-field="field_141" data-type="textarea" data-foreign_id="60">This is a sample question. Edit this text and enter your answer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra sed turpis nec bibendum. Donec leo erat, ultrices quis dui sit amet, iaculis imperdiet justo. Nunc et cursus risus. Aenean hendrerit pellentesque neque. Ut at dolor elit. Suspendisse potenti. Fusce nec rhoncus nisl, vel malesuada elit.</span></div></div>			                            </div>
								</div>
							</div>
								
							<div class="item">
								<div class=" cms-e-section">
									<div class="service-content">
										<div class="section-heading text-center">
											<div data-recordid="61-field_140"><h2 class="cms-e-element h3" style="color: #222222"><span class="wc-editable wc-element" data-model="pjContentRecord" data-field="field_140" data-type="text" data-foreign_id="61">Another example question?</span></h2></div>											</div>

										<div data-recordid="61-field_141"><div class="cms-e-element lead about-content" style="color: #696969"><span class="wc-editable wc-element" data-model="pjContentRecord" data-field="field_141" data-type="textarea" data-foreign_id="61">Here is another sample answer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra sed turpis nec bibendum. Donec leo erat, ultrices quis dui sit amet, iaculis imperdiet justo. Nunc et cursus risus. Aenean hendrerit pellentesque neque. Ut at dolor elit. Suspendisse potenti. Fusce nec rhoncus nisl, vel malesuada elit.</span></div></div>			                            </div>
								</div>
							</div>
														</div>
					</div>

					<div class="testimonial-dir text-center">
						<a href="#faq-nav" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>

						<a href="#faq-nav" role="button" data-slide="next">
							<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>

							<br> 
			<div class="section-actions">
				<div class="container">
					<div class="cms-e-section">
						<div data-blockid="84"><a href="faq.html" class="btn btn-primary cms-e-element" target="_self"><span class="wc-editable wc-element" data-model="pjBlockElement" data-field="text" data-type="action" data-foreign_id="84">Read FAQ</span></a></div>		                </div>
				</div>
			</div>
						</div>
	</div>
	<!--group-end:ce6789e37656b2a5bdca0675b2275d85-->
	
	<!--section-end:350919fce523c4a78b072304e0a886f9-->
</div>
<!--e:350919fce523c4a78b072304e0a886f9-->

<!--b:ec549add354dc3e7835f484fb7bc4494-->
<!--e:ec549add354dc3e7835f484fb7bc4494-->

<!--b:dcc05d34101cab4b5bb299ca1cd4f8af-->
<div class="section blog-section cms-e-section-outer" data-id="164" data-hmac="dcc05d34101cab4b5bb299ca1cd4f8af" data-type="plugin" data-pid="15">
	<!--section-begin:dcc05d34101cab4b5bb299ca1cd4f8af-->

	<!--group-begin:ffe9781729fde6ddf41edd798f4f7183-->
	<div class="cms-e-group" data-id="231" data-hmac="ffe9781729fde6ddf41edd798f4f7183">
		<div class="container">
			<div class="section-heading text-center">
				<div class="cms-e-section">
					<div data-blockid="79"><h2 class="cms-e-element h2 text-center text-capitalize" style="color: #3b3e44"><span class="wc-editable wc-element" data-model="pjBlockElement" data-field="text" data-type="text" data-foreign_id="79">Latest blog posts</span></h2></div>					</div>
			</div>
		</div>
	</div>
	<!--group-end:ffe9781729fde6ddf41edd798f4f7183-->
	
	<!--group-begin:37ed7fba641ec546ae72248f66c9d14f-->
	<div class="cms-e-group" data-id="232" data-hmac="37ed7fba641ec546ae72248f66c9d14f">
		<div class="container-fluid">
			<div class="blog-content-area">
				<div class="row row-flex">
										<div class="col-lg-3 col-xs-12 col-xs-12 cms-e-section">
						<article class="post">
							<div class="post-thumb">
								<a href="sample-blog-post_blog-70.html">
									<div data-recordid="70-field_114"><div class="wc-thumb btn-gallery-replace "><img class="wc-image cms-e-element img-responsive" src="http://trials.vevs.website/web-demo/car-parking-website/app/web/upload/medium/car-park-image-581-1587548387.jpg" alt="" title="" data-id="581"></div></div>									</a>
							</div>

							<div class="post-details">
								<div class="entry-meta"><span class="entry-date">10/25/2019 8:14 am</span></div>

								<a href="sample-blog-post_blog-70.html"><div data-recordid="70-field_110"><h3 class="cms-e-element h4 entry-title text-uppercase" style="color: var(--primary-color)"><span class="wc-editable wc-element" data-model="pjContentRecord" data-field="field_110" data-type="text" data-foreign_id="70">Sample blog post</span></h3></div></a>
								
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque maximus facilisis mauris, imperdiet scelerisque libero dictum vel. Morbi auctor vehicula lacus vitae commodo. Vivamus tempor ut mauris vitae condimentum. Nulla nulla ex, maximus et elit sed, finibus suscipit nunc. Suspendisse a placerat mauris.								</div>
						</article>
					</div>
											<div class="col-lg-3 col-xs-12 col-xs-12 cms-e-section">
						<article class="post">
							<div class="post-thumb">
								<a href="demo-blog-post-title_blog-72.html">
									<div data-recordid="72-field_114"><div class="wc-thumb btn-gallery-replace "><img class="wc-image cms-e-element img-responsive" src="http://trials.vevs.website/web-demo/car-parking-website/app/web/upload/medium/back-1-583-1587548387.jpg" alt="" title="" data-id="583"></div></div>									</a>
							</div>

							<div class="post-details">
								<div class="entry-meta"><span class="entry-date">10/8/2019 8:17 am</span></div>

								<a href="demo-blog-post-title_blog-72.html"><div data-recordid="72-field_110"><h3 class="cms-e-element h4 entry-title text-uppercase" style="color: var(--primary-color)"><span class="wc-editable wc-element" data-model="pjContentRecord" data-field="field_110" data-type="text" data-foreign_id="72">Demo blog post title</span></h3></div></a>
								
								Nam at enim id odio sollicitudin dignissim id quis erat. Nulla placerat vehicula neque, sit amet congue velit vehicula non. Etiam non accumsan risus. Nunc commodo ante eu sollicitudin efficitur. 								</div>
						</article>
					</div>
											<div class="col-lg-3 col-xs-12 col-xs-12 cms-e-section">
						<article class="post">
							<div class="post-thumb">
								<a href="another-blog-post_blog-71.html">
									<div data-recordid="71-field_114"><div class="wc-thumb btn-gallery-replace "><img class="wc-image cms-e-element img-responsive" src="http://trials.vevs.website/web-demo/car-parking-website/app/web/upload/medium/car-parking-1024x576-582-1587548387.jpg" alt="" title="" data-id="582"></div></div>									</a>
							</div>

							<div class="post-details">
								<div class="entry-meta"><span class="entry-date">10/4/2019 8:16 am</span></div>

								<a href="another-blog-post_blog-71.html"><div data-recordid="71-field_110"><h3 class="cms-e-element h4 entry-title text-uppercase" style="color: var(--primary-color)"><span class="wc-editable wc-element" data-model="pjContentRecord" data-field="field_110" data-type="text" data-foreign_id="71">Another blog post</span></h3></div></a>
								
								Phasellus vehicula sem elit, quis vehicula urna maximus at. Sed ac nisi eros. Duis tempus, velit non ultricies maximus, purus tellus congue enim, et volutpat quam velit nec massa. Cras massa magna, maximus eget ullamcorper at, porttitor vitae diam.								</div>
						</article>
					</div>
										</div>

										<div class="blog-posts-actions">
						<div class="container">
							<div class="cms-e-section">
								<div data-blockid="81"><a href="blog.html" class="btn btn-primary cms-e-element" target="_self"><span class="wc-editable wc-element" data-model="pjBlockElement" data-field="text" data-type="action" data-foreign_id="81">Visit blog</span></a></div>		                        </div>
						</div>
					</div>
									</div>
		</div>
	</div>
	<!--group-end:37ed7fba641ec546ae72248f66c9d14f-->
	
	<!--section-end:dcc05d34101cab4b5bb299ca1cd4f8af-->
</div>
<!--e:dcc05d34101cab4b5bb299ca1cd4f8af-->

<!--b:f6c32d809b8eb44594b9e761ef1350b2-->
<!--e:f6c32d809b8eb44594b9e761ef1350b2-->

<!--b:e63201a84019e975d0080e03aec2e776-->
<div class="section section-featured cms-e-section-outer" data-id="166" data-hmac="e63201a84019e975d0080e03aec2e776" data-type="plugin" data-pid="20">
	<!--section-begin:e63201a84019e975d0080e03aec2e776-->

	<!--group-begin:f78bbf4665acd1e19dac20167f8fc292-->
	<div class="cms-e-group" data-id="234" data-hmac="f78bbf4665acd1e19dac20167f8fc292">
		<div class="container">
			<div class="section-heading text-center">
				<div class="cms-e-section">
					<div data-blockid="77"><h2 class="cms-e-element h2 text-center text-capitalize" style="color: #3b3e44"><span class="wc-editable wc-element" data-model="pjBlockElement" data-field="text" data-type="text" data-foreign_id="77">Testimonials</span></h2></div>					</div>
			</div>
		</div>
	</div>
	<!--group-end:f78bbf4665acd1e19dac20167f8fc292-->
	
	<!--group-begin:d71133a69b3808d175f0df1adeb5726e-->
	<div class="cms-e-group" data-id="235" data-hmac="d71133a69b3808d175f0df1adeb5726e">
		<div class="container-fluid">
			<div class="row row-flex">
				<div class="col-lg-8 col-xs-12">
					<div id="testimonial-nav" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner text-center" role="listbox">
														<div class="item active">
								<div class="row row-flex">
									<div class="col-sm-10 col-xs-12 testimonial cms-e-section">
										<div class="testimonial-icon">
											<img class="wc-vector" src="quote-circled-1-1.svg">
										</div>
										
										<div class="paragraph">
											<div data-recordid="53-field_138"><div class="cms-e-element lead" style="color: #9e9e9e"><span class="wc-editable wc-element" data-model="pjContentData" data-field="field_138" data-type="textarea" data-foreign_id="53">This is a sample testimonial. Proin et metus lorem. Suspendisse dapibus convallis mattis. Fusce ultrices vehicula ipsum ut molestie. Donec convallis nunc ac neque hendrerit, ut venenatis ipsum pulvinar. Pellentesque eget augue interdum, eleifend enim vel, ultricies magna. Cras in turpis leo.</span></div></div>												<span data-recordid="53-field_137"><strong class="cms-e-element lead testimonial-author"><span class="wc-editable wc-element" data-model="pjContentData" data-field="field_137" data-type="text" data-foreign_id="53">Frederika Pellini</span></strong></span>											</div>
									</div>
								</div>
							</div>
															<div class="item">
								<div class="row row-flex">
									<div class="col-sm-10 col-xs-12 testimonial cms-e-section">
										<div class="testimonial-icon">
											<img class="wc-vector" src="quote-circled-1-1.svg">
										</div>
										
										<div class="paragraph">
											<div data-recordid="54-field_138"><div class="cms-e-element lead" style="color: #9e9e9e"><span class="wc-editable wc-element" data-model="pjContentData" data-field="field_138" data-type="textarea" data-foreign_id="54">Delete this text and add your testimonial. Next is some dummy text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius porta arcu, at aliquet ipsum vehicula vitae. Aliquam venenatis mattis lorem, a consequat erat ultrices vel. Nam condimentum semper nunc, at blandit mauris volutpat a.&nbsp;</span></div></div>												<span data-recordid="54-field_137"><strong class="cms-e-element lead testimonial-author"><span class="wc-editable wc-element" data-model="pjContentData" data-field="field_137" data-type="text" data-foreign_id="54">Marco Cassano</span></strong></span>											</div>
									</div>
								</div>
							</div>
															<div class="item">
								<div class="row row-flex">
									<div class="col-sm-10 col-xs-12 testimonial cms-e-section">
										<div class="testimonial-icon">
											<img class="wc-vector" src="quote-circled-1-1.svg">
										</div>
										
										<div class="paragraph">
											<div data-recordid="55-field_138"><div class="cms-e-element lead" style="color: #9e9e9e"><span class="wc-editable wc-element" data-model="pjContentData" data-field="field_138" data-type="textarea" data-foreign_id="55">Here is one more sample testimonial. Replace it with your company testimonial. Sed ac accumsan justo. Sed non ante malesuada, venenatis diam eu, suscipit nisl. Morbi eget arcu mauris. Morbi non lacus lorem. Nulla feugiat tortor vitae urna tincidunt, tristique imperdiet purus consequat.&nbsp;</span></div></div>												<span data-recordid="55-field_137"><strong class="cms-e-element lead testimonial-author"><span class="wc-editable wc-element" data-model="pjContentData" data-field="field_137" data-type="text" data-foreign_id="55">Johnathan Smith</span></strong></span>											</div>
									</div>
								</div>
							</div>
														</div>

						<div class="testimonial-dir text-center">
							<a href="#testimonial-nav" role="button" data-slide="prev">
								<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>

							<a href="#testimonial-nav" role="button" data-slide="next">
								<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--group-end:d71133a69b3808d175f0df1adeb5726e-->
	
	<!--section-end:e63201a84019e975d0080e03aec2e776-->
</div>
<!--e:e63201a84019e975d0080e03aec2e776-->

<!--b:3c6cf2cb29e0491534d25cd5436925d1-->
<!--e:3c6cf2cb29e0491534d25cd5436925d1-->

<!--b:d6fbdea66ff14a6883a39a630af7faa5-->
<!--e:d6fbdea66ff14a6883a39a630af7faa5-->

<!--b:bc09585242c672e86bf0597027855f6e-->
<!--e:bc09585242c672e86bf0597027855f6e-->

<!--b:a14df274f9026473b98d8cd8301f7028-->
<!--e:a14df274f9026473b98d8cd8301f7028-->

<!--b:6e17b851a0e0a693bfccd3e7623f7cd4-->
<!--e:6e17b851a0e0a693bfccd3e7623f7cd4-->

<!--e:0-->
</div>	<footer class="site-footer">
<div class="container-fluid">
	
	<div class="footer-top-area">
		<div class="row">
			<div class="col-xs-12">
				<nav class="footer-menu text-center">
					<ul class="list-unstyled cms-e-section">
															<li class="active"><a href="./">Start</a></li>
																	<li><a href="reservations.html">Reservations</a></li>
																	<li><a href="locations.html">Locations</a></li>
																	<li><a href="terms.html">Terms</a></li>
																	<li><a href="contact-us.html">Contact Us</a></li>
														</ul>
					
					<div class="text-center">
						<ul class="list-unstyled social-media cms-e-ib cms-e-section">
							<li><a href="https://www.facebook.com" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a></li><li><a href="https://twitter.com" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a></li><li><a href="https://www.linkedin.com" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a></li><li><a href="https://www.instagram.com" target="_blank" rel="noopener"><i class="fa fa-instagram"></i></a></li><li><a href="https://www.pinterest.com" target="_blank" rel="noopener"><i class="fa fa-pinterest"></i></a></li>			                </ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
	
	
	<div class="footer-bottom-area">
		<div class="row">
			<div class="col-md-4 col-xs-12">
				<div class="company-address cms-e-section">
					<p>© 2020 <span><span class="wc-editable" data-pk="ws_car_name" data-type="text">Car Park Company</span></span> | <span data-blockid="98"><span class="cms-e-element"><span class="wc-editable wc-element" data-model="pjBlockElement" data-field="text" data-type="text" data-foreign_id="98">All rights reserved</span></span></span></p>
				</div>
			</div>

			<div class="col-md-4 col-xs-12 text-center">
				<div class="footer-logo wc-thumb btn-gallery-replace">              
					<a href="./">
						<img class="logo" src="http://trials.vevs.website/web-demo/car-parking-website/app/web/upload/medium/cp-logo-259-1587548387.png" alt="" title="" data-id="259">
					</a>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="copyright-text text-right">
				<p><a href="https://www.vevs.com/car-parking-websites/" target="_blank" rel="noopener">Car Parking Website Builder</a> by <a href="https://www.vevs.com/" target="_blank" rel="noopener">VEVS.com</a></p>					</div>
			</div>
		</div>
	</div>
</div>
</footer>	</div>

<script>
(function (w, d) {
	var loadDeferredStyles = function() {
		var addStylesNode = d.getElementById("deferred-styles");
		var replacement = d.createElement("div");
		replacement.innerHTML = addStylesNode.textContent;
		d.body.appendChild(replacement);
		
		var img = d.createElement('img');
		img.onerror = function () {
			w.setTimeout(function() {
				d.body.classList ? d.body.classList.remove('preload') : d.body.className = '';
			}, 0);
		};
		img.src = d.getElementById('deferred-sheet').getAttribute('href');

		addStylesNode.parentElement.removeChild(addStylesNode);

		if (!(window.CSS && CSS.supports && CSS.supports("(--foo: red)"))) {
			var pony = d.createElement('script'), s = d.scripts[0];
			pony.src = 'http://trials.vevs.website/web-demo/car-parking-website/core/third-party/css_vars_ponyfill/2.1.2/dist/css-vars-ponyfill.min.js';
			pony.async = true;
			pony.addEventListener("load", function() {
				cssVars({
					exclude: "[href*=googleapis]"
				});
			});
			s.parentNode.insertBefore(pony, s);
		}
	};
	var raf = w.requestAnimationFrame || w.mozRequestAnimationFrame || w.webkitRequestAnimationFrame || w.msRequestAnimationFrame;
	if (raf) raf(function() { w.setTimeout(loadDeferredStyles, 0); });
	else w.addEventListener('load', loadDeferredStyles);

	if ("IntersectionObserver" in window) {
		document.addEventListener("DOMContentLoaded", function() {
			var lazyloadImages = document.querySelectorAll('img[data-v], img[data-src]');
			var imageObserver = new IntersectionObserver(function(entries, observer) {
				entries.forEach(function(entry) {
					if (entry.isIntersecting) {
						var image = entry.target;
						var v = image.getAttribute('data-v');
						var src = image.getAttribute('data-src');
						if (v) {
							image.src = v;
							image.removeAttribute('data-v');
						} else if (src) {
							image.src = src;
							image.removeAttribute('data-src');
						}
						imageObserver.unobserve(image);
					}
				});
			});

			lazyloadImages.forEach(function(image) {
				imageObserver.observe(image);
			});
		});
	} else {
		w.addEventListener('load', function () {
			var i, iCnt, v,
				vizimgDefer = d.getElementsByTagName('img');
			for (i = 0, iCnt = vizimgDefer.length; i < iCnt; i += 1) {
				v = vizimgDefer[i].getAttribute('data-v');
				if (v) {
					vizimgDefer[i].setAttribute('src', v);
				}
			}
		}, true);

		var fired = false;
		w.addEventListener("scroll", function() {
			if ((d.documentElement.scrollTop != 0 && fired === false) || (d.body.scrollTop != 0 && fired === false)) {
				var i, iCnt, src, imgDefer = d.getElementsByTagName('img');
				for (i = 0, iCnt = imgDefer.length; i < iCnt; i += 1) {
					src = imgDefer[i].getAttribute('data-src');
					if (src) {
						imgDefer[i].setAttribute('src', src);
					}
				}
				fired = true;
			}
		}, true);
	}
})(window, document);
WebFontConfig = {
	classes: false,
	events: false,
	google: {
		families: ['Amiri:400,700:arabic',
			'Arimo:400,700:hebrew',
			'Open Sans:300,400,600,700:latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic',
			'Noto Serif:400,700:latin,cyrillic,greek-ext,vietnamese,latin-ext,cyrillic-ext,greek',
			'Lato:300,400,700:latin-ext&display=swap']
	}
};
(function(d) {
	var wf = d.createElement('script'), s = d.scripts[0];
	wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
	wf.async = true;
	s.parentNode.insertBefore(wf, s);
})(document);	</script>

</body>