<div style="margin-top: 500px;" class="container">
	<div class="row">
		<div class='col-sm-6'>
			<div class="form-group">
				<div class='input-group date' id='datetimepicker1'>
					<input type='text' class="form-control" />
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			</div>
		</div>
		ggggggggggggggggggggg

		<timepicker [(ngModel)]="mytime"></timepicker>
		<pre class="alert alert-info">Time is: {{mytime}}</pre>


		<timepicker [(ngModel)]="time"></timepicker>
		<pre class="alert alert-info">Time is: {{mytime}}</pre>